/* ==================== */
/* BASIC SETUP */
/* ==================== */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeLegibility;
    line-height: 1.3;
}
ul li {
  list-style-type: none;
}
h1{
  font-size: 4.2rem;
  color: #fff;
  line-height: 5rem;
  font-weight: 700;
}
/* .clearfix::after{
  content: "";
  display: table;
  clear: both;
  height: 0;
  visibility: hidden;
} */
/* ==================== */
/* REUSEABLE COMPONENTS */
/* ==================== */
.row{
  max-width: 114rem;
  margin: 0 auto;
}
section{
  padding: 8rem 0;
}
/* Button */
.btn:link,
.btn:visited,
.btn{
  background: #eb7d4b;
  color: #fff;
  text-decoration: none;
  border-bottom: 0.3rem solid #c86a40;
  text-transform: uppercase;
  padding: 1.5rem 6rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: 600;
}
h2{
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
}
h2::after{
  content: "";
  display: block;
  height: 0.4rem;
  width: 8.5rem;
  background: #fff;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
}
h3{
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
h4{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
}
.box{
  padding: 1%;
}
.box p{
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2rem;
  color:#fff;
}
/* Little Description- Paragraph */
.title-description{
  font-size: 1.6rem;
  width: 60%;
  margin-left: 20%;
  line-height: 1.8;
}
/* ==================== */
/* HEADER SECTION */
/* ==================== */
header{
  background: linear-gradient(rgba(138, 80, 156, 0.9), rgba(138, 80, 156, 0.9)),url('img/hero-bg.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 85vh;
  position: relative;
}
header .logo {
  height: 3.5rem;
  width: auto;
  margin-top: 3.5rem;
  float: left;
}
/* Main Navigation */
.main-nav{
  float: right;
  margin-top: 4rem;
}
.main-nav li{
  display: inline-block;
  margin-left: 1rem;
}
.main-nav li:first-child{
  margin-left: 0;
}
.main-nav li a:link,
.main-nav li a:visited{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(100, 58, 121, 0);
  padding: 0.6rem 1.6rem;
  border-radius: 0.3rem;
  display: inline-block;
  font-size: 1.6rem;
  transition: .3s;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited,
.main-nav li.active a{
  background: rgba(100, 58, 121, 1);
  border-radius: 0.3rem;
}

/* Hero Area */
.hero-text-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 114rem;
}
/* STICKY NAVIGATION  */
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(135, 89, 156, 0.9);
  padding: 1rem 0;
  box-shadow: 0 0.2rem 0.5rem rgba(255, 255, 255, 0.9);
  z-index: 9;
}
.sticky .logo{
  margin-top: 0;
}
.sticky .main-nav {
  margin-top: .2rem;
}

/* Mobile Menu  */
.mobile-menu span {
	color: #fff;
	float: right;
	font-size: 4rem;
	margin-top: 2rem;
  display: none;
}
.mobile-menu span:hover{
  cursor: pointer;
}
.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  overflow-x: hidden;
  transition: 0.8s;
}
.overlay-content{
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}
.overlay-content a{
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 3rem;
  color: #999;
  padding: 1rem 0;
}
.overlay a:hover{
  color: #fff;
}
.overlay .closebtn{
  position: absolute;
  top: 2rem;
  font-size: 6rem;
  right: 4.5rem;
  text-decoration: none;
  color: #fff;
}

.sticky .mobile-menu span {
  margin: 0;
}

/* ==================== */
/* SERVICES SECTION */
/* ==================== */
.services-section {
  background: linear-gradient(rgba(23, 194, 164, 0.9), rgba(23, 194, 164, 0.9)),url('img/services-bg.jpg') no-repeat center top;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.services-section h2::after{
  background: #14a58c;
}
.services-icon{
  height: 12.5rem;
  margin: 4.5rem 0;
}
/* ==================== */
/* TEAM SECTION */
/* ==================== */
.team-section{
  background: linear-gradient(rgba(231, 241, 248, 0.9), rgba(231, 241, 248, 0.9)),url('img/team-bg.jpg') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

}
.team-section h2{
  color: #3c4761;
}
.team-section h2::after{
  background: #c8d9e5;
}
.team-member {
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
  height: 20rem;
  weight: 20rem;
  border-radius: 50%;
}
.team-section h3{
  color:#27283d;
}
.team-section .role {
  font-size: 1.6rem;
  color: #30bae7;
  text-transform: capitalize;
  margin-top: 0.6rem;
  display: inline-block;
}
.team-section .box p{
  color: #3c4761;
}
.team-section .social-link {
  margin-top: 4.5rem;
}

.social-link ul li{
  display: inline-block;
  margin: 0 0.5rem;
}
.social-link ul li a{
  color: #fff;
  font-size: 1.6rem;
}
.social-link ul li a i::before{
  background: #bdd1df;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  transition: 0.5s;
}
.social-link ul li a:hover i::before{
  background: #393939;
  transform: rotate(360deg);
}
/* ==================== */
/* SKRILL SECTION */
/* ==================== */
.skill-section{
  text-align: center;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),url('img/skill-bg.jpg') no-repeat center top;
  background-size: cover;

}
.skill-section h2,
.skill-section h3{
  color: #3c4761;
}
.skill-section h2::after{
  background: #dfe8ed;
}
.skill-section .box{
  margin-top: 4.5rem;
}
svg.radial-progress circle{
  stroke-width: 10;
}
svg.radial-progress text{
  fill: #3c4761;
  font-size: 1.5rem;
}
svg.web-design circle{
  stroke: #30bae7;
}
svg.html-css circle{
  stroke: #d74680;
}
svg.graphic-design circle{
  stroke: #15c7a8;
}
svg.ui-ux circle{
  stroke: #eb7d4b;
}
/* ==================== */
/* PORTFOLIO SECTION */
/* ==================== */
.portfolio-section {
  background: linear-gradient(rgba(255, 221,153, 0.8), rgba(255, 221, 153, 0.8)), url('img/portfolio-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
.portfolio-section .col:nth-child(3){
  margin-left: 0;
}
.portfolio-section h2{
  color: #3c4761;
}
.portfolio-section h2::after{
  background: #e5c37f;
}
.portfolio-filter{
  margin: 4.5rem 0;
}
.portfolio-filter button{
  background: #ebc985;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: 0;
  padding: 1rem 2rem;
  border-radius: .5rem;
  color: #393939;
  font-weight: 400;
  margin: 0 0.5rem;
  transition: 0.5s;
}
.portfolio-filter button:hover {
  cursor: pointer;
  box-shadow: inset 0 0.3rem 0.5rem rgba(60, 71, 97, 0.5);
}
.portfolio-image{
  width: 100%;
  height: auto;
}
.portfolio-section .load-more {
  background: #17c2a4;
  border-bottom: .3rem solid #14a58c;
}
.portfolio-section .mixitup-control-active{
  background: #fff;
}
/* ==================== */
/* TESTIMONIAL SECTION */
/* ==================== */
.testimonial-section{
  background: linear-gradient(rgba(215, 70,128, 0.8), rgba(215, 70, 128, 0.8)), url('img/testimonial-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.testimonial-section .col:nth-child(3){
  margin-left: 0;
}
.testimonial-section h2::after{
  background: #b73c6d;
}
.testimonial-section .title-description{
  color: #fff;
  text-align: center;
}
.testimonial-section .col:nth-child(1),
.testimonial-section .col:nth-child(2){
  margin-top: 4rem;
}
.testimonial-section .col:nth-child(3),
.testimonial-section .col:nth-child(4){
  margin-top: 8rem;
}
.testimonial-section .client-photo{
  width: 10rem;
  float: left;
}
.testimonial-section .client-photo img{
  height: 8rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}
.testimonial-section .client-review{
  width: 35rem;
  float: left;
  margin-left: 2.5rem;
}
.testimonial-section .client-review p{
  font-size: 2.1rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 0rem;
}
.testimonial-section h4{
  font-weight: 700;
  color: #ffff;
}
.testimonial-section span.role{
  color: #ffdd99;
}
/* ==================== */
/* CONTACT SECTION */
/* ==================== */
.contact-section {
  background: linear-gradient(rgba(60, 84,153, 0.9), rgba(60, 84, 153, 0.9)), url('img/contact-bg.jpg') no-repeat center 10%;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
}
.contact-section h2::after{
  background: rgba(39,58,113, 0.5);
}
.contact-section .title-description{
  color: #fff;
}
.contact-section form{
  margin-top: 5rem;
  width: 70%;
  margin-left: 15%;
}
.contact-section form input[type="text"],
.contact-section form input[type="email"],
.contact-section form textarea{
  background: #3c5499;
  opacity: 0.8;
  border: .1rem solid #273a71;
  width: 100%;
  padding: 1.5rem;
  border-radius: .5rem;
  font-size: 1.8rem;
  margin: .5rem 0;
  color: #fff;
}
.contact-section form textarea{
  height: 20rem;
}
.contact-section form ::placeholder{
  color: #ffff;
  opacity: 1;
}
.contact-section .btn.btn-submit{
  background: #30bae7;
  border: 0;
  border-bottom: 0.3rem solid #299ec5;
  cursor: pointer;
}

/* ==================== */
/* FOOTER SECTION */
/* ==================== */

.footer-section {
  background: #344b8e;
  padding: 3rem 0;
  text-align: center;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.3);
}
.footer-section li{
  display: inline-block;
  margin: 0 2rem;
}
.footer-section li a{
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 600;
  transition: 0.5s;
}
.footer-section li a:hover{
  color: #299ec5;
}
